# Jekyll Specific Generated Artifacts
_site
.sass-cache
.jekyll-metadata
.jekyll-cache

# Ruby Specific Artifacts
.bundle
.ruby-version

# Node Specific Artifacts
node_modules/
.npm

# Generated Node Artifacts
assets/css/
assets/3rd-party

# Environment Specific Artifacts
.vscode
_data/api_fetch/
.idea
.DS_Store
