# Jekyll Specific Generated Artifacts
_site
.sass-cache
.jekyll-metadata
.jekyll-cache

# Ruby Specific Artifacts
.bundle
.ruby-version

# Node Specific Artifacts
node_modules/
.npm

# Generated Node Artifacts
assets/@fortawesome/
assets/lazysizes/
assets/bootstrap/
assets/popper.js/
assets/slick-carousel/
assets/moment/
assets/jquery-slim/
assets/css/

# Environment Specific Artifacts
.vscode
_data/api_fetch/
.idea
.DS_Store
