{
    "singleQuote": true,
    "tabWidth": 4,
    "endOfLine": "lf",
    "overrides": [
        {
            "files": "package.json",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}