{% assign member_events = site.data.events %}
{% assign member_page_link = include.member.id | prepend: "/members/" | prepend: site.url %}

<ul class="list-unstyled list-inline text-small my-1 speaker-index">
    {% if include.speaker_index %}
        {% for entry in include.list | limit: 4 %}
            {% assign conference = member_events | where: "id", entry | first %}
            <li class="list-inline-item">
                <a href="{{ conference.link }}" class="small badge badge-primary">{{ conference.name }}</a>
            </li>
        {% endfor %}
        {% if include.list.size > 4 %}
            <a class="d-inline position-absolute dots" href="{{ member_page_link }}">...</a>
        {% endif %}
    {% else %}
        {% for entry in include.list %}
            {% assign conference = member_events | where: "id", entry | first %}
            <li class="list-inline-item">
                <a href="{{ conference.link }}" class="small badge badge-primary">{{ conference.name }}</a>
            </li>
        {% endfor %}
    {% endif %}
</ul>