{% assign filtered_posts = site.posts | where: "author_id", page.id %}
{% if filtered_posts.size > 0 %}
    <div class="pb-3">
        <h2 class="font-weight-normal pb-2">Posts</h2>
        <div class="form-group has-search">
            <span class="fa fa-search form-control-feedback"></span>
            <input type="text" class="form-control" id="filter-posts" onkeyup="filterPostBySearch()"
                   placeholder="Search into posts...">
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-12 py-3">
                <div class="h-100">
                    <div class="post-sidebar position-sticky fixed-top py-3">
                        <div class="col px-0 flex-wrap justify-content-between w-75">
                            {% assign tag_names = "" | split: "" %}
                            {% for blog_post in filtered_posts %}
                                {% assign tag_names = tag_names | push: blog_post.tags %}
                            {% endfor %}
                            {% assign unique_tags = tag_names | uniq %}
                            {% for tag in unique_tags %}
                                <button type="button" id="{{ tag }}" class="btn btn-sm unselected-tag mr-2 mb-2"
                                        onclick="filterPostByTags(`{{ tag }}`)">{{ tag }}</button>
                            {% endfor %}
                        </div>
                        <div class="d-flex">
                            <p class="my-4 rss-subscribe">Subscribe <a href="{{ "/feed.xml" | prepend: site.url }}">via
                                    RSS <i class="ml-3 fas fa-rss"></i></a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-12 py-3" id="post-section">
                <h6 class="text-center pr-6" id="message"></h6>
                {% for post in filtered_posts %}
                    <div class="pt-2 pb-3 member-post">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
                            <h6 class="text-muted font-weight-semi-bold mb-0">{{ post.date | date: date_format }}</h6>
                            <div>
                                {% for each_tag in post.tags %}
                                    <span class="btn btn-sm post-tags mr-2" id="post-tag">{{ each_tag }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-baseline">
                        <h4>
                            <a class="font-weight-semi-bold" id="post-title"
                               href="{{ post.url | prepend: site.url }}">{{ post.title | escape }}</a>
                        </h4>
                        <p class="font-weight-normal text-muted ">{% include readtime.html %}</p>
                        </div>
                        <div class="post-snippet">
                            {{ post.excerpt }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}